<a href="https://colab.research.google.com/github/dongjooyun/tensorflow1/blob/master/practice2_lemonade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 레모네이드 판매 예측
- github csv url: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

### 0. Tensorflow & Pandas 라이브러리 사용

In [1]:
import tensorflow as tf
import pandas as pd

### 1-1. 과거의(축적된) 데이터 준비

In [2]:
ln_fileroute = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
lemonade = pd.read_csv(ln_fileroute)
lemonade.head() # 경로에서 잘 가져왔나 check + 전반적인 내용 훑어보기

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

### 1-2. 독립변수 & 종속변수 분리

In [3]:
inde_var = lemonade[['온도']]
de_var = lemonade[['판매량']]
print(inde_var.shape, de_var.shape) # 독립&종속변수 개수 check - for 모델's 숫자 맞추기

(6, 1) (6, 1)

***
### 2. 모델 구조 생성
<b>핵심★</b> <br>
가장 간단한 형태, Neural Net의 Neuron 1개 수준 <br>
※ loss='mse' ? 다음 시간에~

In [4]:
X = tf.keras.layers.Input(shape=[1]) # 숫자 1의 의미: 독립변수 개수([].shape print 했을 때 우측값)
Y = tf.keras.layers.Dense(1)(X) # 숫자 1의 의미: 종속변수 개수
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse') # loss: 모델의 학습 능력 척도 | mse: (실제값 & 예측값's 분산값) * 0.5 | 학습이 잘 될수록 0에 가까워짐 | 원하는 loss값으로 떨어질 때까지 epoch 더 하기

### 3-1. 모델 학습(fit)

In [5]:
model.fit(inde_var, de_var, epochs=10000, verbose=0) # epoch: 전체 데이터 학습 반복 횟수, 클수록 좋음, verbose=0: 화면에 출력하지마라 명령

###3-2. 모델의 loss값 check

In [6]:
model.fit(inde_var, de_var, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 4ms/step - loss: 2.7334e-04
Epoch 2/10
1/1 [==============================] - 0s 4ms/step - loss: 2.7319e-04
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 2.7309e-04
Epoch 4/10
1/1 [==============================] - 0s 2ms/step - loss: 2.7297e-04
Epoch 5/10
1/1 [==============================] - 0s 1ms/step - loss: 2.7284e-04
Epoch 6/10
1/1 [==============================] - 0s 1ms/step - loss: 2.7274e-04
Epoch 7/10
1/1 [==============================] - 0s 2ms/step - loss: 2.7272e-04
Epoch 8/10
1/1 [==============================] - 0s 2ms/step - loss: 2.7266e-04
Epoch 9/10
1/1 [==============================] - 0s 2ms/step - loss: 2.7257e-04
Epoch 10/10
1/1 [==============================] - 0s 2ms/step - loss: 2.7254e-04

***
### 4-1. 모델 활용하여 예측

In [7]:
print(model.predict(inde_var))

[[40.02821 ]
 [42.02196 ]
 [44.015717]
 [46.00947 ]
 [48.003223]
 [49.996975]]

###4-2. 실제값과 예측값 비교

In [8]:
de_var

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

###4-3. 임의의 독립변수 대입하여 종속변수 예측

In [9]:
model.predict([15])

array([[30.059444]], dtype=float32)