<a href="https://colab.research.google.com/github/dongjooyun/tensorflow1/blob/master/practice3_boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 보스턴 집값 예측
- github csv url: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

##Key: 퍼셉트론

###1. 라이브러리 사용

In [1]:
import tensorflow as tf
import pandas as pd

###2. 과거의 데이터 준비

In [3]:
file_route='https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston=pd.read_csv(file_route)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

###3. 독립변수 & 종속변수 분리

In [4]:
inde_var=boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
de_var=boston[['medv']]
print(inde_var.shape, de_var.shape) #체크하는 습관 들이기

(506, 13) (506, 1)

###4. 모델 구조 만들기

In [5]:
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1) (X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

###5. 데이터로 모델 학습(FIT)시키기

In [10]:
model.fit(inde_var, de_var, epochs=100000, verbose=0)
model.fit(inde_var, de_var, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 22.8209
Epoch 2/10
16/16 [==============================] - 0s 978us/step - loss: 22.3808
Epoch 3/10
16/16 [==============================] - 0s 944us/step - loss: 22.6313
Epoch 4/10
16/16 [==============================] - 0s 879us/step - loss: 23.0479
Epoch 5/10
16/16 [==============================] - 0s 890us/step - loss: 22.1457
Epoch 6/10
16/16 [==============================] - 0s 986us/step - loss: 22.1760
Epoch 7/10
16/16 [==============================] - 0s 941us/step - loss: 22.4233
Epoch 8/10
16/16 [==============================] - 0s 959us/step - loss: 22.2947
Epoch 9/10
16/16 [==============================] - 0s 977us/step - loss: 23.1236
Epoch 10/10
16/16 [==============================] - 0s 996us/step - loss: 22.3977

###6.만들어진 모델 이용하기

In [14]:
model.predict(inde_var[5:10]) #5번째부터 10번째까지 slicing

array([[25.00344 ],
       [22.603516],
       [19.156204],
       [11.109121],
       [18.5512  ]], dtype=float32)

In [15]:
#실제 종속변수와 비교
de_var[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

###7. 모델의 수식 확인

In [12]:
print(model.get_weights())

[array([[-1.07516609e-01],
       [ 4.56913188e-02],
       [ 1.50128165e-02],
       [ 2.58257842e+00],
       [-1.60529118e+01],
       [ 3.95654655e+00],
       [-7.68522616e-04],
       [-1.44027424e+00],
       [ 2.92627901e-01],
       [-1.17676519e-02],
       [-9.02155221e-01],
       [ 8.77714064e-03],
       [-5.21033585e-01]], dtype=float32), array([33.522083], dtype=float32)]